<app-navbar></app-navbar>

<div class="row">
  <div class="col-md-3">
    <app-sidebar> </app-sidebar>
    <!-- <ul>
      <li routerLink=home>
        Home
      </li>
      <li routerLink=role>
        Role
      </li>
      <li routerLink=User>
        User
      </li>
      <ul>
        <li [routerLink]="['user',5]">
          User Detail 5

        </li>
        <li [routerLink]="['user',5,'role']">
          User Role 5
        </li>
      </ul>
    </ul> -->
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
    <button igxButton="flat">Welcome to app module html</button>
  </div>
 


<!-- Bu ngx- spinnerı istediğim heryerde kullanabilirim. -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


